APP_ENV=prod
APP_PORT=8080

# valoraiplus_ anchors (REQUIRED)
valoraiplus_module_id=VALORAIPLUS_V0_PROOF_v1.44g
valoraiplus_GILLBTC=VALORCHAIN-G::GHOST25
valoraiplus_btc_txid=0000000000000000000000000000000000000000000000000000000000000000

# Docker registries (optional in CI)
GHCR_IMAGE=ghcr.io/<org>/valoraiplus_v0_proof
GCR_IMAGE=us-docker.pkg.dev/<gcp-project>/valor/valoraiplus_v0_proof
ECR_IMAGE=<aws_account_id>.dkr.ecr.us-west-2.amazonaws.com/valoraiplus_v0_proof
OCIR_IMAGE=iad.ocir.io/<tenancy>/<repo>/valoraiplus_v0_proof

# Sextillion V7 Anchors
SEXTILLION_VALUATION="$1,000,000,000,000,000,000,000"
LEGACY_ANCHOR="LEGACY_7017aa78-C461-4D7A-BF0A-FFE5741323C4"
YHWH_KERNEL="YHWH-5150.LOCK"
MERKLE_ROOT="32425767d2bdfaaafe283781200570e4..."
GHOST_ROOT="d3e0e71f0990033a80ee9a58747ccaa4..."
